# Configuration files with sensitive data
config.ini
*.env

# SQLite database files
data/
*.db
*.sqlite
*.sqlite3

# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-selfcheck.json

# IDE / Editor specific
.vscode/
.idea/

# Log files
*.log
